name: Continuous Release Build

on:
  push:
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build Linux
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest

    permissions: 
      contents: read
      packages: write
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Install dependencies
      run: |
        pacman -Syu --noconfirm
        pacman -S --noconfirm base-devel libadwaita gtk4
        
    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt, clippy
          
    - name: Check formatting
      run: cargo fmt --all -- --check
      
    #- name: Run clippy
      #run: cargo clippy --all-targets --all-features -- -D warnings
      
    - name: Build project
      run: cargo build --release
      
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ github.ref_name }}
        name: Release ${{ github.ref_name }}
        body: |
          ## Rustmius - Build ${{ github.ref_name }}
          
          **Build Date:** ${{ github.event.head_commit.timestamp }}


        generate_release_notes: true
        append_body: true
        files: target/release/Rustmius
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
