name: Check PR

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Build Linux
    runs-on: ubuntu-latest
    concurrency:
      group: pr-${{ github.event.pull_request.number }}
      cancel-in-progress: true
    if: |
      !(
        github.event_name == 'push' &&
        startsWith(github.ref, 'refs/tags/')
      )

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt #, clippy

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      # - name: Check formatting
      #   run: cargo fmt --all -- --check

      - name: Install Bun Packages
        run: bun install

      - name: Build project
        run: bun run tauri build
